
.colores-img {
    width: 250px;
    max-width: 350px;
}
.boton{
    background-color: #21618C;
    color: #FDFEFE;
    font-size: 25px;
    padding: 0.5em 1em;
    cursor: pointer;
}
body{
    background: linear-gradient( rgba (5, 7, 12, 0.75) rgba(5, 7, 12, 0.75));
    font-weight: 500;
    font-size: 22px;
}
